In [53]:
# Assigning string to a variable
a = 'Aayush Patil'
print (a)
b = "SE AIDS 42"
print (b)
c= '''Vidyavardhini College of Enginerring and Technology'''
print (c)

Aayush Patil
SE AIDS 42
Vidyavardhini College of Enginerring and Technology

In [2]:
# Declaring a list
L = [1, "a" , "string" , 1+2]
print (L)
#Adding an element in the list
L.append(6)
print (L)
#Deleting last element from a list
L.pop()
print (L)
#Displaying Second element of the list
print (L[1])

[1, 'a', 'string', 3]
[1, 'a', 'string', 3, 6]
[1, 'a', 'string', 3]
a

In [45]:
tup = (1, "a", "string", 1+2)
print(tup)
print(tup[1])

(1, 'a', 'string', 3)
a

In [46]:
d = {1: 'Lorem', 2: 'Ipsum', 3: 'Dolerum'}
print(d)

{1: 'Lorem', 2: 'Ipsum', 3: 'Dolerum'}

In [47]:
# create dictionary using { }
d1 = {1: 'Game', 2: 'of', 3: 'Thrones'}
print(d1)

# create dictionary using dict() constructor
d2 = dict(a = "House", b = "of", c = "Cards")
print(d2)

{1: 'Game', 2: 'of', 3: 'Thrones'}
{'a': 'House', 'b': 'of', 'c': 'Cards'}

In [48]:
d = { "name": "Alice", 1: "Python", (1, 2): [1,2,4] }

# Access using key
print(d["name"])

# Access using get()
print(d.get("name"))

Alice
Alice

In [49]:
d = {1: 'Game', 2: 'of', 3: 'Thrones'}

# Adding a new key-value pair
d["age"] = 22

# Updating an existing value
d[1] = "Python dict"

print(d)

{1: 'Python dict', 2: 'of', 3: 'Thrones', 'age': 22}

In [52]:
#name = "Aayush"
#age = 20  # Convert to integer, not a string

name = input("Enter your name: ")
age = int(input("Enter your age: "))

def greet_user(name):
    return f"Kasa ahes re bhava, {name}!"

# Conditional to check age
if age <= 18:
    adult_status = "You are an minor."
elif age >= 18 and age <= 60:
    adult_status = "You are a adult."
elif age >=100 and age <= 200:
     adult_status = "You have been died"
else:
    adult_status = "You are senior citizen"


# Loop to greet user multiple times
for i in range(2):
    print(greet_user(name))

# Print user details
print(f"Your name is {name}.")
print(f"Your age is {age}.")
print(adult_status)

Enter your name: Aayush
Enter your age: 200
Kasa ahes re bhava, Aayush!
Kasa ahes re bhava, Aayush!
Your name is Aayush.
Your age is 200.
You have been died